<odoo>
    <!-- Main Root Menu -->
    <menuitem id="menu_leave_root" name="Leave" sequence="10" web_icon="leave_management_rk,static/description/icon.png"/>

    <!-- Leave Requests Action (for users and HR) -->
    <record id="action_leave_request" model="ir.actions.act_window">
        <field name="name">Leave Requests</field>
        <field name="res_model">leave.request</field>
        <field name="view_mode">list,form</field>
        <field name="view_id" ref="leave_management_rk.view_leave_request_tree"/>
    </record>

    <!-- Leave Requests Menu visible to Leave User and HR Manager -->
    <menuitem id="menu_leave_requests" name="Leave Requests"
              parent="menu_leave_root"
              action="leave_management_rk.action_leave_request"
              sequence="1"
              groups="leave_management_rk.group_leave_user,leave_management_rk.group_hr_manager"/>

    <!-- Public Holidays Action -->
    <record id="action_public_holiday" model="ir.actions.act_window">
        <field name="name">Public Holidays</field>
        <field name="res_model">public.holiday</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Public Holidays Menu (only HR Manager) -->
    <menuitem id="menu_public_holiday" name="Public Holidays"
              parent="menu_leave_root"
              action="leave_management_rk.action_public_holiday"
              groups="leave_management_rk.group_hr_manager"
              sequence="4"/>

</odoo>
